*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    border: solid red;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
}


.grid, .reset{
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    
}